<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.desmond.dao.ProductDao">
    <resultMap id="BaseResultMap"  type="com.desmond.entity.Product" >
        <result column="id" property="id"  jdbcType="VARCHAR" />
        <result column="shop_id" property="shopId"  jdbcType="VARCHAR" />
        <result column="name" property="name"  jdbcType="VARCHAR" />
        <result column="price" property="price"  jdbcType="VARCHAR" />
        <result column="description" property="description"  jdbcType="VARCHAR" />
        <result column="photo" property="photo"  jdbcType="VARCHAR" />
        <result column="create_time" property="createTime"  jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="getProductsByShopId"  resultMap="BaseResultMap">
        select * from product where shop_id = #{shopId}
    </select>

    <insert id="addProduct">
        insert into product(id, shop_id, name, price, description, photo, create_time, update_time)
        values(#{id}, #{shopId}, #{name}, #{price}, #{description}, #{photo}, now(), now())
    </insert>

    <update id="updateProduct">
        update product set
        name = #{name},
        price = #{price},
        description = #{description},
        photo = #{photo},
        update_time = now()
        where id = #{id} and shop_id = #{shopId}
    </update>

    <delete id="deleteProductById">
        delete from product where id = #{id}
    </delete>
</mapper>